

body {
  padding-top: 50px;
}

.text-main {
  padding: 40px 15px;
  text-align: center;
}


button.control {
    display:inline-block;
}

.clock {
    text-align: center;
    font-size: 5em;
    display: inline;
    align-items: center;
}

.title {
    text-align:center;
    font-size: 4em;
    align-content: center;
}

.title input {
    text-align: center;
}

label{
    display:block;
    padding:5px 10px;
    margin:0px 0;
    &:hover {
	background-color:gold;
	cursor:pointer;
    }
}

.isSelected {
    background-color: lightgreen;
}

.red-scoresheet {
    border-style: solid;
    border-color: red;
}
.blue-scoresheet {
    border-style: solid;
    border-color: blue;
}

.score-header {
    background-color: #bbbbbb;
    text-align: center;
    border-style: solid;
    border-color: white;
    border-width: 4px;
}

.score-title {
    background-color: #777;
    color: white;
    font-size:1em;
}

.score-red {
    background-color: red;
    color: white;
}

.score-blue {
    background-color: blue;
    color: white;
}